
   body{
     font-family:Georgia, sans-serif; 
   }
  

   .booms{
    width:640px;
    height:720px;
   
   }

   .help{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10px;
   }
