
   body{
    font-family:"Yu Mincho", Georgia, sans-serif; 
    background-color:rgb(56, 56, 56);
    color: white;
    text-align: center;
   }

   article{
     display:block;
     height:35px;
   }

   article p{
     text-align:left;
   }
   
   li{
    text-align:left;
  }
   .header{
    padding: 15px;
    font-size: 30px;
  }

  #lightModeButton{
    border:none;
    color:lightgray;
    background-color: rgb(56, 56, 56);
    text-align:left;
    font-family:"Yu Mincho";
    cursor:pointer;
    margin-left:-3%;/*How do I make this aligned with the links?*/
  }

  #listHeader{
    text-align:left;
  }

  .tracker{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .Comments{
    text-align: left;
  }

  .mainText,.immersionEntry{
    max-width:650px ;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
  }

   .imgContainer{
    width:150px;
    height:150px;
    display:block;
    
   }

   #WelcomePageSidebar{
     /*background-color: rgb(48, 48, 48);*/
     font-size:15px;
     display:block;     
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 5; /* Stay at the top */
     left: 0;
     margin-left: 5px;
     float: left;
     text-align: left;
     width: 8%;
     padding-top:150px;
     padding-left:5px;
     color:white;
     overflow-x: hidden; /* Disable horizontal scroll */
     min-height:100%;
     max-height:100%;
     font-family: "Yu Mincho";
     line-height: 30px;
     border:2px;
     border-color:white;
   }

  .link{
    color:lightgray;
    display:block;
    text-decoration: none;
  }

  .link:hover{
    color:purple;
  }

  .dropDownButton{
    border:none;
    background-color: inherit;
    font-size: inherit;
    font-family:"Yu Mincho";
    color:lightgray;
    cursor:pointer;
    margin-left:-3%;
  }

  .dropDownButton:hover, .dropDownButton:focus{
    color: purple;
    
  }

  .dropDownContent{
    display:none;
    position:absolute;
    z-index:1;
    width: 100%;
    
  }

  .showContent{
    display:block;
  }
  .dropDownContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .lightMode{/*Keep at bottom so it has higher precedence pls*/
    background-color:white !important;
    color:rgb(56, 56, 56) !important;
  }