html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: "Yu Mincho", Georgia, sans-serif;
  background-color: rgb(56, 56, 56);
  color: lightGray;
  text-align: center;
  display: relative;
  margin: 0;
}

article {
  height: 35px;
}

article p, li {
  text-align: left;
}

h1 {
  margin: 0%;
}

.lightMode {
  /*Keep at bottom so it has higher precedence pls*/
  background-color: white;
  color: rgb(56, 56, 56) !important;
}

.lightMode a, .lightMode button, .lightMode div {
  background-color: white!important;
  color: rgb(56, 56, 56)!important;
}

.topBar {
  font-size: 10px;
  min-height: 100%;
  background: #872fdf;
}

.aboutMe {
  margin-right: 5%;
  margin-left: 15%;
  width: 40%;
  text-align: left;
}

#lightModeButton {
  border: none;
  color: lightgray;
  background-color: rgb(56, 56, 56);
  text-align: left;
  font-family: "Yu Mincho";
  cursor: pointer;
}

#listHeader {
  text-align: left;
}

.tracker {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.Comments {
  text-align: left;
}

.mainText, .immersionEntry {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  width: 35%;
}

.imgContainer {
  width: 20%;
  height: 20%;
  display: block;
  margin-left: 55%;
}

#WelcomePageSidebar {
  /*background-color: rgb(48, 48, 48);*/
  font-size: 15px;
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 15%;
  /* Stay at the top */
  margin-left: 0.5rem;
  float: left;
  text-align: left;
  width: 8%;
  padding-top: 1em;
  padding-left: 5px;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  min-height: 90%;
  max-height: 90%;
  font-family: "Yu Mincho";
  line-height: 2em;
  border: 2px;
  border-color: white;
}

.link{
  color: lightgray;
  display: block;
  text-decoration: none;
}

.link:hover, .link:focus, .dropDownButton:hover {
  color: #872fdf!important;
}

.dropDown {
  color: white;
}

.dropDownButton {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-family: "Yu Mincho";
  color: lightGray;
  cursor: pointer;
  margin-left: -3%;
}

.dropDownButton:hover, .dropDownButton:focus {
  color: #872fdf;
}

.dropDownContent {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.dropDownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.showContent {
  display: block;
}

#quizContainer {
  width: 40%;
  height: 30rem;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(56, 56, 56);
  padding: 0.2rem;
  border: 2px solid #9933ff;
  overflow-y: hidden;
}

.quiz {
  height: 90%;
}