
   body{
     font-family:Georgia, sans-serif; 
   }
  

   .booms{
    width:200px;
    height:auto;
    display: block;
   }

   .help{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
   }
