
   body{
    font-family:"Yu Mincho", Georgia, sans-serif; 
    background-color: #2b2b2b;
    color: white;
    text-align: center;
   }
  
   
   .header{
    padding: 15px;
    font-size: 30px;
  }

  li{
    text-align:left;
  }

  #listHeader{
    text-align:left;
  }

   .imgContainer{
    width:150px;
    height:150px;
    display:block;
   }

   #WelcomePageSidebar{
     font-size:15px;
     display:block;
     width: 15%;
     padding-left: 10px;
     margin-left: 5px;
     float: left;
     color:white;
     text-align: left;
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 5; /* Stay at the top */
     left: 0;
    background-color: rgb(48, 48, 48);
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 5px;
   }

  .link{
    color:lightgray;
    display:block;
  }

  .link:hover{
    color:black;
  }


  


