html{
  height:100%;
}
   
   body{
    font-family:"Yu Mincho", Georgia, sans-serif; 
    background-color:rgb(56, 56, 56);
    color: white;
    text-align: center;
    display:relative;
    margin:0%;
    overflow:hidden;
    
   }

   article{
     height:35px;
   }

   article p{
     text-align:left;
   }
   
   li{
    text-align:left;
  }

  h1{
    margin:0%;
  }

   .topBar{
    font-size: 10px;
    min-height: 100%;
    background:#9933ff;
  }

  #lightModeButton{
    border:none;
    color:lightgray;
    background-color: rgb(56, 56, 56);
    text-align:left;
    font-family:"Yu Mincho";
    cursor:pointer;
    
  }

  #listHeader{
    text-align:left;
  }

  .tracker{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .Comments{
    text-align: left;
  }

  .mainText,.immersionEntry{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    width:35%;
  }

   .imgContainer{
    width:150px;
    height:150px;
    display:block;
   }

   #WelcomePageSidebar{
     /*background-color: rgb(48, 48, 48);*/
     font-size:15px;
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 15%; /* Stay at the top */
     margin-left: 0.5rem;
     float: left;
     text-align: left;
     width: 8%;
     padding-top:1em;
     padding-left:5px;
     color:white;
     overflow-x: hidden; /* Disable horizontal scroll */
     min-height:90%;
     max-height:90%;
     font-family: "Yu Mincho";
     line-height: 2em;
     border:2px;
     border-color:white;
   }

  .link{
    color:lightgray;
    display:block;
    text-decoration: none;
  }

  .link:hover,.link:focus{
    color:purple;
  }

  .dropDownButton{
    border:none;
    background-color: inherit;
    font-size: inherit;
    font-family:"Yu Mincho";
    color:lightgray;
    cursor:pointer;
    margin-left:-3%;
  }

  .dropDownButton:hover, .dropDownButton:focus{
    color: purple;
  }

  

  .dropDownContent{
    display:none;
    position:absolute;
    z-index:1;
    width: 100%;
  }

  .showContent{
    display:block;
  }
  .dropDownContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .lightMode{/*Keep at bottom so it has higher precedence pls*/
    background-color:white ;
    color:rgb(56, 56, 56) ;
  }

  .link.lightMode:hover{/*Giga brain moment*/
    color:#9933ff;
  }
