
   body{
    font-family:Georgia, sans-serif; 
    background-color: #A77EC2;
    color: white;
   }
  
   .header{
    padding: 15px;
    text-align: center;
    font-size: 30px;
    
  }

   .imgContainer{
    width:150px;
    height:150px;
    display:block;
   }

  


